@import url("https://api.fontshare.com/v2/css?f[]=switzer@101,600,701,800,501,601,900,100,700,901,400,201,401,200,300,301,801,500&display=swap");
* {
  font-family: "Switzer", sans-serif;
  text-decoration: none;
  letter-spacing: 0.025em;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  background-size: cover;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-size: 20px;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

nav ul li a:hover {
  color: orangered;
}

.button-nav {
  background-color: black;
  color: white;
  width: 100%;
  padding: 10px 15px;
  margin-top: 20px;
  border-radius: 10px;
  margin-right: 20px;
  font-size: large;
  border: none;
  cursor: pointer;
}

.button-right {
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  margin-right: 20px;
  font-size: large;
  border: none;
  cursor: pointer;
}

button:hover {
  color: orangered;
}

.container-form {
  margin-top: 50px;
}

.Container {
  background-color: transparent;
  display: flex;
  align-items: center;
  /* box-shadow: 0 3px 10px black; */
  border-radius: 15px;
  padding: 20px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  gap: 100px;
}

.left p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2em;
  font-size: 16px;
  color: aliceblue;
  text-align: justify;
  letter-spacing: normal;
}

.soch-media {
  margin-top: 50px;
  font-size: 40px;
  width: 250px;
  display: flex;
  gap: 37px;
  justify-content: center;
}

.soch-media a i {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container-card {
  width: 100%;
}

.container-card-group {
  display: block;
  margin: auto;
  width: 450px;
  border-radius: 15px;
  padding-bottom: 15px;
}

.container-card-group img {
  display: block;
  margin: auto;
  width: 100%;
}

.Whatsapp {
  background-color: rgb(14, 240, 63);
  color: white;
  border: 1px solid black;
  padding: 9px 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 15px;
  margin-bottom: 20px;
  margin-right: 25px;
}

.Whatsapp a {
  color: aliceblue;
}

.Whatsapp:hover {
  background-color: rgb(6, 187, 60);
}
.download-cv {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 20px;
}

.dowload {
  color: black;
  font-size: 20px;
}

.download-cv .dowload:hover {
  color: orangered;
}

.download-cv:hover a i {
  color: rgb(252, 57, 8);
}

.soch-media a i:hover {
  color: rgb(17, 92, 255);
}

.hamburger-nav-container a:hover {
  color: aqua;
}

#barsmenu {
  display: none;
  margin-right: 40px;
}

#barsmenu i:hover {
  color: aqua;
}

#barsmenu i {
  color: white;
}

.hamburger-nav-container {
  font-size: 20px;
  list-style-type: none;
  display: none;
}

.hamburger-nav-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  color: white;
  background-color: transparent;
}

@media only screen and (max-width: 900px) {
  .card-container {
    flex-direction: column-reverse;
  }
  .Container {
    display: flex;
    flex-direction: column-reverse;
  }
  .left {
    max-inline-size: 100%;
  }

  .social-media-group {
    justify-content: center;
  }

  .soch-media {
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .container-card {
    display: flex;
    align-items: center;
  }

  .container-card-group img {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .container-card-group h2,
  p {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .item-collapse {
    display: none;
  }

  #barsmenu {
    display: block;
  }
}
